.hero {
    background-color: #F1F3FF;
}

.navbar-brand {
    width: 100px;
    height: 34px;
    background-color: #0D28A6;
}

.navbar-nav {
    font-weight: 500;
}

.hero-row {
    min-height: 379px;
}

.mobil {
    position: absolute;
    left: 104px;
}

.carousel-inner {
    width: 130%;
    margin-left: -15%;
}

.deskripsi {
    color: white;
    background-color: #0D28A6;
    padding: 5% 15%;
    border-radius: 8px;
}

.item-testi {
    height: 270px;
    width: 619px;
    border-radius: 8px;
    background-color: #F1F3FF;
}

.row.whyus {
    column-gap: 24px;
    flex-wrap: nowrap;
}

body {
    overflow-x: hidden;
}

#owl-container {
    margin-top: 100px;
    width: 150%;
    left: -25%;
    position: relative;
}

.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev,
.owl-carousel button.owl-dot {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    border: 1px solid #c4c4c4 !important;

}

.owl-theme .owl-nav [class*=owl-]:hover,
.owl-theme .owl-nav [class*=owl-]:focus {
    background-color: #5CB85F !important;
    outline: none;
}

.item {
    border-radius: 8px;
    height: 270px;
    border-radius: 8px;
    background-color: #F1F3FF;
}

.img-carousel {
    width: 80px !important;
}

@media(max-width: 991px) {
    #owl-container {
        margin-top: 100px;
        width: 100%;
        left: 0%;
        position: relative;
    }

    .hero {
        padding-top: 12px;
    }

    .row.whyus {
        margin: 0px;
        row-gap: 15px;
        flex-wrap: wrap;
    }

    .mobil {
        padding-top: 24px;
        position: relative;
        left: 0px;
    }

    .service-img {
        width: 70%;

    }

    .navbar {
        z-index: 1000;
    }

    .navbar-collapse {
        position: fixed;
        background: rgba(0, 0, 0, 0.6);
        width: 100%;
        height: 100%;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        overflow-x: hidden;
    }

    .navbar-nav {
        background-color: white;
        padding: 1.3em;
        height: 100vh;
        width: 50%;
        left: 100%;
        position: absolute;
        transition: left .35s ease;
    }


    .navbar-collapse.collapsing {
        transition: background-color .35s ease;
    }

    .navbar-collapse.show .navbar-nav {
        transition: left .35s ease;
        left: 50%;
    }

}